
.nav-glyphish-example .ui-btn { padding-top: 40px !important; }
.nav-glyphish-example .ui-btn:after { width: 30px!important; 
	height: 30px!important; margin-left: -15px !important;
	 box-shadow: none!important;
	  -moz-box-shadow: none!important;
	   -webkit-box-shadow: none!important;
	    -webkit-border-radius: 0 !important;
	     border-radius: 0 !important; }

#market:after{
	background: url(../img/iconsGly/market.png) 50% 50% no-repeat; background-size: 24px 22px
}

#photos:after{ background: url(../img/iconsGly/42-photos.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#glasses-3:after{ background: url(../img/iconsGly/165-glasses-3.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#map:after{ background: url(../img/iconsGly/103-map.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#star:after{ background: url(../img/iconsGly/28-star.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#ghost:after{ background: url(../img/iconsGly/132-ghost.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#warning:after{ background: url(../img/iconsGly/184-warning.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#card-spades:after{ background: url(../img/iconsGly/198-card-spades.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#squiggle:after{ background: url(../img/iconsGly/04-squiggle.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#balloon:after{ background: url(../img/iconsGly/114-balloon.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#brightness:after{ background: url(../img/iconsGly/61-brightness.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#chicken:after{ background: url(../img/iconsGly/109-chicken.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#shuffle:after{ background: url(../img/iconsGly/05-shuffle.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#spraycan:after{ background: url(../img/iconsGly/39-spraycan.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#phone:after{ background: url(../img/iconsGly/75-phone.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#chat:after{ background: url(../img/iconsGly/08-chat.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#lock:after{ background: url(../img/iconsGly/54-lock.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#radar:after{ background: url(../img/iconsGly/73-radar.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#dice:after{ background: url(../img/iconsGly/130-dice.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#coffee:after{ background: url(../img/iconsGly/100-coffee.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#todo:after{ background: url(../img/iconsGly/117-todo.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#movie-2:after{ background: url(../img/iconsGly/46-movie-2.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#shoebox:after{ background: url(../img/iconsGly/44-shoebox.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#viking:after{ background: url(../img/iconsGly/134-viking.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#persondot:after{ background: url(../img/iconsGly/145-persondot.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#imac:after{ background: url(../img/iconsGly/174-imac.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#loopback:after{ background: url(../img/iconsGly/03-loopback.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#calculator:after{ background: url(../img/iconsGly/161-calculator.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#glasses-1:after{ background: url(../img/iconsGly/163-glasses-1.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#sock:after{ background: url(../img/iconsGly/127-sock.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#test-tube:after{ background: url(../img/iconsGly/92-test-tube.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#tractor:after{ background: url(../img/iconsGly/136-tractor.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#wrench:after{ background: url(../img/iconsGly/157-wrench.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#gavel:after{ background: url(../img/iconsGly/146-gavel.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#moon:after{ background: url(../img/iconsGly/126-moon.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#note-2:after{ background: url(../img/iconsGly/194-note-2.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#index-cards:after{ background: url(../img/iconsGly/104-index-cards.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#bookmark:after{ background: url(../img/iconsGly/58-bookmark.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#scales:after{ background: url(../img/iconsGly/138-scales.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#medical:after{ background: url(../img/iconsGly/10-medical.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#film-roll:after{ background: url(../img/iconsGly/43-film-roll.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#glasses-2:after{ background: url(../img/iconsGly/164-glasses-2.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#eyedropper:after{ background: url(../img/iconsGly/173-eyedropper.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#flag:after{ background: url(../img/iconsGly/59-flag.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#ruler:after{ background: url(../img/iconsGly/186-ruler.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#beer-mug:after{ background: url(../img/iconsGly/88-beer-mug.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#target:after{ background: url(../img/iconsGly/13-target.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#iphone:after{ background: url(../img/iconsGly/32-iphone.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#weather:after{ background: url(../img/iconsGly/25-weather.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#chat-2:after{ background: url(../img/iconsGly/09-chat-2.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#note:after{ background: url(../img/iconsGly/65-note.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#radiation:after{ background: url(../img/iconsGly/196-radiation.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#suitcase:after{ background: url(../img/iconsGly/37-suitcase.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#gear:after{ background: url(../img/iconsGly/19-gear.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#bug:after{ background: url(../img/iconsGly/110-bug.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#sailboat:after{ background: url(../img/iconsGly/150-sailboat.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#group:after{ background: url(../img/iconsGly/112-group.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#refresh:after{ background: url(../img/iconsGly/01-refresh.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#gift:after{ background: url(../img/iconsGly/24-gift.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#fuel:after{ background: url(../img/iconsGly/47-fuel.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#puzzle:after{ background: url(../img/iconsGly/97-puzzle.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#newspaper:after{ background: url(../img/iconsGly/166-newspaper.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#liquor-bottle:after{ background: url(../img/iconsGly/143-liquor-bottle.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#palette:after{ background: url(../img/iconsGly/98-palette.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#contrast:after{ background: url(../img/iconsGly/62-contrast.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#necktie:after{ background: url(../img/iconsGly/154-necktie.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#equalizer:after{ background: url(../img/iconsGly/95-equalizer.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#lightbulb:after{ background: url(../img/iconsGly/84-lightbulb.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#gameplan:after{ background: url(../img/iconsGly/101-gameplan.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#baby:after{ background: url(../img/iconsGly/76-baby.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#user:after{ background: url(../img/iconsGly/111-user.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#dog-paw:after{ background: url(../img/iconsGly/82-dog-paw.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#printer:after{ background: url(../img/iconsGly/185-printer.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#umbrella:after{ background: url(../img/iconsGly/99-umbrella.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#plant:after{ background: url(../img/iconsGly/189-plant.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#bullhorn:after{ background: url(../img/iconsGly/124-bullhorn.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#golf:after{ background: url(../img/iconsGly/129-golf.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#map-marker:after{ background: url(../img/iconsGly/07-map-marker.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#picture-frame:after{ background: url(../img/iconsGly/41-picture-frame.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#trophy:after{ background: url(../img/iconsGly/85-trophy.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#clock:after{ background: url(../img/iconsGly/11-clock.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#shopping-cart:after{ background: url(../img/iconsGly/80-shopping-cart.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#ekg:after{ background: url(../img/iconsGly/77-ekg.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#wrench-2:after{ background: url(../img/iconsGly/158-wrench-2.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#rolodex:after{ background: url(../img/iconsGly/152-rolodex.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#controller:after{ background: url(../img/iconsGly/116-controller.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#tower:after{ background: url(../img/iconsGly/131-tower.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#outlet:after{ background: url(../img/iconsGly/51-outlet.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#widescreen:after{ background: url(../img/iconsGly/107-widescreen.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#key:after{ background: url(../img/iconsGly/30-key.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#sliders:after{ background: url(../img/iconsGly/106-sliders.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#bandaid:after{ background: url(../img/iconsGly/26-bandaid.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#tv:after{ background: url(../img/iconsGly/70-tv.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#pin:after{ background: url(../img/iconsGly/72-pin.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#bird:after{ background: url(../img/iconsGly/23-bird.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#controlpad:after{ background: url(../img/iconsGly/156-controlpad.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#voicemail:after{ background: url(../img/iconsGly/159-voicemail.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#medical-bag:after{ background: url(../img/iconsGly/79-medical-bag.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#compass:after{ background: url(../img/iconsGly/71-compass.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#planet:after{ background: url(../img/iconsGly/27-planet.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#cabinet:after{ background: url(../img/iconsGly/33-cabinet.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#life-buoy:after{ background: url(../img/iconsGly/90-life-buoy.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#card-hearts:after{ background: url(../img/iconsGly/199-card-hearts.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#skull:after{ background: url(../img/iconsGly/21-skull.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#dumbell:after{ background: url(../img/iconsGly/89-dumbell.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#building:after{ background: url(../img/iconsGly/177-building.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#navigation:after{ background: url(../img/iconsGly/113-navigation.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#wine-bottle:after{ background: url(../img/iconsGly/142-wine-bottle.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#doghouse:after{ background: url(../img/iconsGly/148-doghouse.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#stickynote:after{ background: url(../img/iconsGly/180-stickynote.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#walk:after{ background: url(../img/iconsGly/102-walk.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#display:after{ background: url(../img/iconsGly/69-display.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#8ball:after{ background: url(../img/iconsGly/169-8ball.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#messenger-bag:after{ background: url(../img/iconsGly/182-messenger-bag.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#line-chart:after{ background: url(../img/iconsGly/16-line-chart.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#credit-card:after{ background: url(../img/iconsGly/192-credit-card.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#cloud:after{ background: url(../img/iconsGly/56-cloud.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#lamp:after{ background: url(../img/iconsGly/141-lamp.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#bow-and-arrow:after{ background: url(../img/iconsGly/115-bow-and-arrow.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#movie-1:after{ background: url(../img/iconsGly/45-movie-1.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#voicemail-2:after{ background: url(../img/iconsGly/160-voicemail-2.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#windmill:after{ background: url(../img/iconsGly/149-windmill.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#coat-hanger:after{ background: url(../img/iconsGly/118-coat-hanger.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#gear2:after{ background: url(../img/iconsGly/20-gear2.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#macbook:after{ background: url(../img/iconsGly/175-macbook.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#genie-lamp:after{ background: url(../img/iconsGly/183-genie-lamp.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#paint-roller:after{ background: url(../img/iconsGly/188-paint-roller.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#house:after{ background: url(../img/iconsGly/53-house.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#hockeymask:after{ background: url(../img/iconsGly/135-hockeymask.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#airplane:after{ background: url(../img/iconsGly/38-airplane.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#calendar:after{ background: url(../img/iconsGly/83-calendar.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#battery:after{ background: url(../img/iconsGly/49-battery.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#stopwatch:after{ background: url(../img/iconsGly/78-stopwatch.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#ipad:after{ background: url(../img/iconsGly/176-ipad.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#bowtie:after{ background: url(../img/iconsGly/155-bowtie.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#flags:after{ background: url(../img/iconsGly/139-flags.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#telescope:after{ background: url(../img/iconsGly/151-telescope.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#shopping:after{ background: url(../img/iconsGly/35-shopping.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#beaker:after{ background: url(../img/iconsGly/50-beaker.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#city:after{ background: url(../img/iconsGly/178-city.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#signpost:after{ background: url(../img/iconsGly/60-signpost.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#food:after{ background: url(../img/iconsGly/125-food.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#dashboard:after{ background: url(../img/iconsGly/81-dashboard.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#thermometer:after{ background: url(../img/iconsGly/93-thermometer.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#pencil:after{ background: url(../img/iconsGly/187-pencil.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#camera:after{ background: url(../img/iconsGly/86-camera.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#upload-photo:after{ background: url(../img/iconsGly/167-upload-photo.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#upload-photo-2:after{ background: url(../img/iconsGly/168-upload-photo-2.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#popsicle:after{ background: url(../img/iconsGly/147-popsicle.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#presentation:after{ background: url(../img/iconsGly/137-presentation.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#toolbox:after{ background: url(../img/iconsGly/36-toolbox.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#inbox:after{ background: url(../img/iconsGly/40-inbox.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#eye:after{ background: url(../img/iconsGly/12-eye.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#landscape:after{ background: url(../img/iconsGly/121-landscape.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#card-clubs:after{ background: url(../img/iconsGly/200-card-clubs.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#fork-and-knife:after{ background: url(../img/iconsGly/48-fork-and-knife.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#pill:after{ background: url(../img/iconsGly/94-pill.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#butterfly:after{ background: url(../img/iconsGly/170-butterfly.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#coffee:after{ background: url(../img/iconsGly/34-coffee.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#paperclip:after{ background: url(../img/iconsGly/68-paperclip.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#receipt:after{ background: url(../img/iconsGly/162-receipt.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#network:after{ background: url(../img/iconsGly/55-network.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#magnify:after{ background: url(../img/iconsGly/06-magnify.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#redo:after{ background: url(../img/iconsGly/02-redo.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#badge:after{ background: url(../img/iconsGly/108-badge.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#ufo:after{ background: url(../img/iconsGly/133-ufo.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#bank:after{ background: url(../img/iconsGly/190-bank.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#martini:after{ background: url(../img/iconsGly/144-martini.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#piano:after{ background: url(../img/iconsGly/105-piano.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#stats:after{ background: url(../img/iconsGly/122-stats.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#zap:after{ background: url(../img/iconsGly/64-zap.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#skull-n-bones:after{ background: url(../img/iconsGly/22-skull-n-bones.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#runner:after{ background: url(../img/iconsGly/63-runner.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#card-diamonds:after{ background: url(../img/iconsGly/197-card-diamonds.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#microphone:after{ background: url(../img/iconsGly/66-microphone.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#tag:after{ background: url(../img/iconsGly/14-tag.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#location-arrow:after{ background: url(../img/iconsGly/193-location-arrow.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#pricetag:after{ background: url(../img/iconsGly/172-pricetag.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#download:after{ background: url(../img/iconsGly/57-download.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#piggy-bank:after{ background: url(../img/iconsGly/119-piggy-bank.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#wine-glass:after{ background: url(../img/iconsGly/87-wine-glass.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#bone:after{ background: url(../img/iconsGly/128-bone.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#location:after{ background: url(../img/iconsGly/74-location.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#id-card:after{ background: url(../img/iconsGly/123-id-card.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#bar-chart:after{ background: url(../img/iconsGly/17-bar-chart.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#hammer:after{ background: url(../img/iconsGly/181-hammer.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#barcode:after{ background: url(../img/iconsGly/195-barcode.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#headphones:after{ background: url(../img/iconsGly/120-headphones.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#collection:after{ background: url(../img/iconsGly/191-collection.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#heart:after{ background: url(../img/iconsGly/29-heart.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#guitar:after{ background: url(../img/iconsGly/153-guitar.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#tags:after{ background: url(../img/iconsGly/15-tags.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#gradhat:after{ background: url(../img/iconsGly/140-gradhat.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#envelope:after{ background: url(../img/iconsGly/18-envelope.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#beaker-2:after{ background: url(../img/iconsGly/91-beaker-2.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#tshirt:after{ background: url(../img/iconsGly/67-tshirt.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#pine-tree:after{ background: url(../img/iconsGly/52-pine-tree.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#notepad:after{ background: url(../img/iconsGly/179-notepad.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#sun:after{ background: url(../img/iconsGly/171-sun.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#book:after{ background: url(../img/iconsGly/96-book.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
#ipod:after{ background: url(../img/iconsGly/31-ipod.png)  50% 50% no-repeat; background-size: 24px 22px;
}
 
